.container-fluid{
    padding: 3% 15%;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    padding-bottom: 7%;
}
h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 2;
}

h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Ubuntu";
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download-button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title-image */
.home-image{
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;
}
/* .home-image:hover{
    transform: rotate(50deg);
} */

/* Features */
#features{
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.icon{
    color: #ef8172;
    margin-bottom: 10px;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimony sections */

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #ffff;
}

.testimonials-image{
    width: 17%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ff4c68;
    text-align: center;
}

.press-icon{
    width: 17%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */
#pricing{
    padding: 50px;
    text-align: center;
}

.pricing{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta{
    font-family: "Montserrat";
    font-size: 3rem;
}
#footer{
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 1% 1%;
}

@media screen and ( max-width: 767px) {
    .home-image{
        transform: rotate(0);
        position: static;
    }

    #title{
        text-align: center;
    }
}